<launch>
    <arg name="experimentWaitDuration" value="1" />
    <arg name="expDuration" value="600" />
    <arg name="hear" value="True" />
    
    
    <arg name="nest" value="nest" />
    <arg name="nestVelocity" value="0.1" />
    <arg name="nestTravelDistance" value="2" />
    <arg name="nest_args_data" value="$(arg nest) $(arg expDuration) $(arg nestVelocity) $(arg nestTravelDistance) $(arg experimentWaitDuration) $(arg hear)" />
    
    <arg name="nest_args" value="$(arg nest_args_data)" />

    <include file="$(find turtlebot_bringup)/launch/minimal.launch" ns="$(arg nest)">
    </include>
    
    <node pkg="nest_move" type="nest_move.py" name="nest_move" output="screen" required="true" args="$(arg nest_args)" ns="$(arg nest)">
    </node>
    <node ns="$(arg nest)/hdg" name="hdg_pid" pkg="pid" type="controller" output="screen" required="true">
            <param name="Kp" value="10000.0" />
            <param name="Ki" value="000.0" />
            <param name="Kd" value="0.0"/>
            <param name="upper_limit" value="100" />
            <param name="lower_limit" value="-100" />
            <param name="windup_limit" value="100" />
            <param name="angle_error" value="true" />
            <param name="max_loop_frequency" value="10.0"/>
            <param name="min_loop_frequency" value="1.0"/>
            <param name="angle_wrap" value="6.283185307179586" />
    </node>
    <!-- <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value="/home/turtlebot/experiments/catkin_ws/src/turtlebot/w_turtlebot.world"/>
    </include> -->
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" required="true" ns="$(arg nest)">
        <param name="output_frame" value="odom"/>
        <param name="freq" value="100.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="true"/>
        <param name="vo_used" value="false"/>
        <param name="debug" value="false"/>
        <param name="self_diagnose" value="false"/>
    </node>
</launch>